# Description: This file contains the environment variables that are required to run the backend server.
# You need to create a new file named .env in the same directory and copy the contents of this file into the new file.
OPENAI_API_KEY=your-openai-api-key
# Serper API key is required to fetch search results from Serper search engine
SERPER_API_KEY=your-serper-api-key

# These are optional environment variables
# If you want to use Pinecone for similarity search, you need to provide the Pinecone API key
# PINECONE_API_KEY=your-pinecone-io-api-key
# If you wish to use the GenerateX tags, you need to provide the Replicate API token
# REPLICATE_API_TOKEN=your-replicate-api-token
# If you wish to use the 'call' tool, you need the following keys
# TWILIO_ACCOUNT_SID=your-twilio-account-sid
# TWILIO_AUTH_TOKEN=your-twilio-auth-token
# DEEPGRAM_API_KEY=your-deepgram-api-key # for speech to text
# ELEVEN_LABS_API_KEY=your-eleven-labs-api-key # for text to speech (multilingual)
# GROQ_API_KEY=your-groq-api-key
# NGROK_AUTH=your-ngrok-auth-token