.App {
  text-align: center;
  font-family: 'Gloria Hallelujah', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 0px;
}

.App-link {
  color: #61dafb;
}

.nameTag {
  position: absolute;
  top: 10px;  
  right: 10px; 
  background-color: rgba(255, 255, 255, 0.8); 
  font-family: 'Gloria Hallelujah', sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 2;
}
