.App {
  text-align: center;
  font-family: 'Gloria Hallelujah', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10%;
}

.App-link {
  color: #61dafb;
}
